<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.ConcernMapper">
  <resultMap id="BaseResultMap" type="Concern">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="concern" jdbcType="TINYINT" property="concern" />
    <result column="type" jdbcType="TINYINT" property="type"/>
  </resultMap>

  <!--关注或收藏，无则插入，有则更新,需要唯一索引，这里是oid和uid-->
  <insert id="fInsertOrUpdateOne">
    INSERT INTO
      concern(uid,oid,concern,type)
    VALUES
      (#{concern.uid},#{concern.oid},#{concern.concern},#{concern.type})
    ON DUPLICATE KEY UPDATE
      uid = #{concern.uid},
      oid = #{concern.oid},
      concern = #{concern.concern},
      type = #{concern.type}
  </insert>
</mapper>