<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.DocContentMapper">
  <resultMap id="BaseResultMap" type="DocContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price"/>
    <result column="cover" jdbcType="VARCHAR" property="cover"/>
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="strategy" jdbcType="TINYINT" property="strategy"/>
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>