<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.DocMapper">
  <resultMap id="doc" type="Doc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="TINYINT" property="pid" />
    <result column="sid" jdbcType="TINYINT" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="charge" jdbcType="TINYINT" property="charge" />
    <result column="cover" jdbcType="VARCHAR" property="cover"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <collection property="docs" ofType="Doc" javaType="List">
      <id column="id2" jdbcType="INTEGER" property="id" />
      <result column="NAME2" jdbcType="VARCHAR" property="name" />
    </collection>
  </resultMap>

  <!--前台查询前两级分类文档-->
  <select id="fSelectTop2lvList" resultMap="doc">
    SELECT
    a.*,b.id as id2 ,b.NAME as NAME2
    FROM
    doc a
    LEFT JOIN
    doc b
    ON
    b.pid = a.id
    AND
    b.type = 2
    WHERE
    a.type = 1
    ORDER BY a.sid,b.sid
  </select>

  <!--前台查询后两级：3级分类章和节（继承于文档分类）-->
  <select id="fSelectEnd2lvList" resultMap="doc">
    SELECT
    a.*,b.id as id2 ,b.NAME as NAME2
    FROM
    doc a
    LEFT JOIN
    doc_content b
    ON
    b.pid = a.id
    AND
    a.type = 3
    WHERE
    a.pid = #{pid}
    ORDER BY a.sid,b.sid
  </select>
</mapper>