<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.DonateMapper">
  <resultMap id="BaseResultMap" type="com.zx.yunqishe.entity.Donate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="how_much" jdbcType="DECIMAL" property="howMuch" />
    <result column="donate_time" jdbcType="TIMESTAMP" property="donateTime" />
    <result column="donate_way" jdbcType="TINYINT" property="donateWay" />
  </resultMap>
</mapper>