<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.zx.yunqishe.entity.Topic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="TINYINT" property="sid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="wt" jdbcType="TINYINT" property="wt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>