<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.TopicContentMapper">
  <resultMap id="BaseResultMap" type="com.zx.yunqishe.entity.TopicContent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="good" jdbcType="TINYINT" property="good" />
    <result column="top" jdbcType="TINYINT" property="top" />
    <result column="adopt" jdbcType="TINYINT" property="adopt" />
    <result column="MODIFY" jdbcType="TINYINT" property="modify" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="charge" jdbcType="TINYINT" property="charge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
</mapper>