<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.yunqishe.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zx.yunqishe.entity.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <!--批量用户的批量角色插入-->
  <insert id="batchInsert">
    <foreach collection="users" item="user" separator="" close="" open="">
        <foreach collection="user.roles" open="" close="" separator=";" item="role">
          <if test='role.id!=null and user.id!=null'>
            INSERT INTO  user_role(user_id,role_id) VALUES(#{user.id},#{role.id})
          </if>
        </foreach>
    </foreach>
  </insert>
</mapper>